.searchInput{
    border-color: #EACD92;
    padding-left:10%;
    height:44px;
}
.voyant .searchInput{
    border-color: #EACD92;
    padding-left:15%;
    height:44px;
}
.searchInput:focus{
    border-color:  #EACD92;

}
.searchImg{
    position:absolute;
    top:50%;
    left:4%;
    transform:translateY(-50%);
}
.inputText2{
    border-color:#EACD92;
    /* padding:5% 0%; */
    height: 50px;
    border-radius: 5px;
    background-color:green
}
.voyant .inputText3{
    background-color: white;
    box-shadow:0px 0px 20px #58468C4D;
    height:50px;
    border-radius: 5px;
}
.inputImg{
    height:35px;
}
.centerToCenter{
    place-items: center;
}
.Eleanor{
    width:45%;
}
.vipDivision{
    width:27%;
}
.vipSpan{
    border: 1px solid #EACD92;
    padding: 2% 16%;
    border-radius: 5px;
    background-color: #EACD92;
}
.inputText4{
    height:50px;
    /* border:1px solid white; */
    border-radius:5px;
    box-shadow:0px 0px 20px #58468C4D;
    place-items: center;
}
.flagImg{
    height:20px;
}
.telCode{
    color:#6B5D86;
    padding-right:2%;
}
.formButton{
    height:50px;
    background-color: #58468C;
    border-radius: 5px;
    width:90%;
    margin:auto
}
.userImg{
    color:white;
    font-size:20px;
}
.cardTitle{
    font-size:20px;
}
.estiban{
    width:100%;
}
.voyantTitle{
    font-size:25px;
}
.innerTabs {
    
    display: grid;
    place-items: center;
    padding:3% 0%;
    border-radius: 5px;
}
.innerTabActive{
    background-color: #31AC30;
}
.innerTabInactive{
    background-color: #706D82;
}
.tabs{
    overflow:auto;
}
.downArrowColor{
    color:#58468C
}
.currency{
    font-size: 28px;
    font-weight: bold;
    color: white;
}
.duration
{
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom:0px;
}
.b{
    width: fit-content;
    border: 1px solid white;
    padding: 3% 6%;
    border-radius: 5px;
    box-shadow: 0px 4px 20px #58468C;
}
.checkImg{
    border: 1px solid;
    background-color: #EACD92;
    color: white;
    font-size: 12px;
    padding: 3px;
    border-radius: 6px;
    margin-right:2px;
}
.cardBodyActive{
    background-color:#31AC30;
}
.cardBodyInactive{
    background-color:    #706D82;
}
/* .cardBodyActive:after {
    position: absolute;
    content: "\2714";
    top: 5px;
    right: 15px;
    color: white;
    font-size: 22px;
    font-weight: bold;
} */
.cardCheck{
    position:absolute;
    top: 4%;
    right: 7%;
    font-size: 25px;
}
.commonText {
    font-size: 13px;
    font-weight: bold;
}
.checkSection {
    width: fit-content;
    padding: 3% 5%;
    padding-right:15%;
    background-color: white;
    box-shadow: 3px 1px 12px lightgrey;
    margin-bottom: 6%;
    border-radius:3px;
}

.minusSection {
    width: fit-content;
    border: 1px solid red;
    padding: 2% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    border-radius:3px;
}
.minusImg {
    background-color: red;
    color: white;
    border-radius: 100%;
    padding: 4px;
    font-size: 12px;
    margin-right: 9px;
}
.telegramSection{
    padding: 3% 6%;
    background-color: #58468C;
    box-shadow: 3px 1px 12px lightgrey;
    margin-bottom: 6%;
    border-radius: 3px;
    color:white
}
.telegramPlane{
    padding-left: 10px;
    font-size: 17px;
}
.storageSection{
    padding: 3% 6%;
    background-color: #58468C;
    box-shadow: 3px 1px 12px lightgrey;
    margin-bottom: 6%;
    border-radius: 3px;
    color:white
}
.saveImg{
    padding-right: 10px;
    font-size: 17px;
}
.commonDropdown {
    padding: 15px 3%;
    border-radius: 3px;
    box-shadow: 0px 0px 7px #58468c;
    margin-bottom:7%;
}
.thirdDropdown{
    background-color:#58468C;
}
.shoppingCartImg{
    font-size: 20px;
    color: #58468C;
    padding: 0px 18px;
}
.shoppingCartText{
    font-size: 20px;
    color: #58468C;
    font-weight: bold;
    width: 100%;
}
.chevronRightImg{
    font-size: 20px;
    color: #58468C;
    font-weight: bold;
}