span.mesServiceContent {
    background-color:#31AC30;
    padding: 6px 14px;
    color: white;
    border-radius: 5px;
}

@media(max-width:480px){
    .btn-xs-block{
        display: block;
        width: 100%;
    }
}

@media  (max-width:961px) {
    span.mesServiceContent{
        display: block;
        width: 100%;
        background-color: #F34541;
    }
    .btn-xs-block{
        display: block;
        width: 100%;
    }
}

@media (min-width:1025px) {
    .span-bg{
        background: #eef5ff;
    padding: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
    }
}
#exampleFormControlTextarea1{
    resize:none;
    margin-top: 17px;
}
.info-radio {
    background: #706D82;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
  }
  .info-radio>i {
    display: none;
  }
  
  .input-radio:checked~.info-radio {
    background: #31AC30;
  }
  
  .input-radio:checked~.info-radio>i {
    display: inline;
  }