/* Left navbar links  */
.modePause{
    font-size:12px;
    height:10px;
}
.modePauseDivision{
    padding-top:3px;
    border-radius:4px;

    /* padding-top:3px!important */
    
}
.helloUser{
    padding:0%;
    font-size:10px;
    margin-top:20px;
    position:auto;
}
.buttonSuccess{
    padding:0%;
   height:auto;
   width:fit-content;
   margin-left:10px;
   margin-top:0%;
   margin-bottom:4%;
    font-size:10px;  
}
.imageUser{

    width:37px;
    height:37px;
    
}
.iconSize{
    margin-top:15px;
    width:20px;
    height:20px;
}
    

